<!DOCTYPE html>
<html>
<head>
<!-- Title here -->
<title>New Website Coming Soon</title>
<meta name='description' content=''>
<meta name='keywords' content=''>
<link rel='author' href='' />        
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--Fonts-->
<!-- SEtting: {font-link-list} - list of all fonts referenced in the template -->
<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>-->
<!-- Styles -->
<!-- Google Fonts CSS -->
<!-- Bootstrap CSS -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
<!-- Font awesome CSS -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">       
<!-- Custom CSS -->
<!-- <link href="https://dropoffpapershredding.com/wp-content/plugins/easy-pie-csp-elite/mini-themes/base-responsive/css/style.css?2.1.2" rel="stylesheet"> -->
<link rel="stylesheet" type="text/css" href="//dropoffpapershredding.com/wp-content/cache/wpfc-minified/kdh5pat2/67fu0.css" media="all"/>       
<style type="text/css">
{ margin: 0; padding: 0; }
body {                                                 
background: url('https://dropoffpapershredding.com/wp-content/uploads/2019/03/Depositphotos_41034025_original-compressor.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}            
#content-area { box-shadow: 1px 7px 36px -5px rgba(34,34,34,1);; background:rgba(0, 0, 0, 0.5); }           
#headline { color: #FFFFFF; font-size: 42px; font-family: Arial, Helvetica, san-serif  }     
#thank-you-headline { color: #FFFFFF; font-size: 42px; font-family: Arial, Helvetica, san-serif  }     
#description, #thank-you-text { color: #FFFFFF; font-size: 20px; font-family: Arial, Helvetica, san-serif  }
#disclaimer { color: #FFFFFF; font-size: 14px; font-family: "Times New Roman", Times, serif  }
#footer { color: #FFFFFF; font-size: 13px; font-family: "Times New Roman", Times, serif  }
#logo { display:inline; ; width: 40%;;  }
#email-submit-button { margin-left:3px; color: #FFFFFF; font-size: 16px; font-family: Arial, Helvetica, san-serif; background-color: #058786; height: 42px; width: 120px; }
#email-collection-box { display:block; }
#name-form-group { display:inline-block; }
#email-form-group { margin-left:auto;margin-right:auto;}
/* #email-form-group, #name-form-group { width: 180px; }*/
/* #name-input, #email-input { width: 180px; } */
#initial-section { display:block; }
#thank-you-section { display: none; }
#error-block { display: none; color:red; margin-top:5px; }
#countdown { display: none; }
/* Custom CSS */
/* This code adds a shadow around the content box */
#logo {background: #fff; padding: 1rem 0.5rem 0.5rem;}
#headline { font-weight: bold }
#footer {text-shadow: #000 0px 0px 3px;}
#content-area {background: rgba(0, 0, 0, 0.55);}
</style>
<script type="text/javascript">
var thankYouDisplayed=false;                             
// Clock end date needs to be in gmt
clockEndDate =  "1970/01/01 00:00:00 UTC";
</script>
<!-- Header Scripts -->
</head>
<body>
<div id="youtube-player">
<div class="container">	
<!-- Subscribe Starts -->
<div id="content-area" class="text-center">
<img id="logo" src="https://dropoffpapershredding.com/wp-content/uploads/2019/04/dropoffpapershredding-logo-330.png"/> 
<div id="initial-section">
<header class="text-center">
<!-- Setting: {{headline}} -->
<h1 id="headline" class="">New Website Coming Soon</h1>
<!-- Setting: {{description}} -->                   
<p id="description" class="">Check back later or sign up to be notified by email.
</p>
<p id="custom-html" style="display:"><!--Setting: {{custom-html}} --></p>
</header>
<div id="countdown"></div>
<form id="email-collection-box" name="email-collection-box" class="form-inline" role="form" action="" method="post">
<input type="hidden" id="_wpnonce" name="_wpnonce" value="7a17596b87" /><input type="hidden" name="_wp_http_referer" value="/shredding-services/attachment/1004560_992704300745810_7281298359528790327_n/" />
<!-- Setting: {{name-collection-on}}-->
<div id="name-form-group" class="form-group">
<label class="sr-only" for="EZP_CSPE_name">Name</label>
<!-- Setting: {{name-placeholder}}-->
<input id="name-input" require name="EZP_CSPE_name" type="text" class="form-control" placeholder="Enter name"/>
</div>
<div id="email-form-group" class="form-group">
<label class="sr-only" for="EZP_CSPE_email">Email</label>                            
<input id="email-input" required name="EZP_CSPE_email" type="email" class="form-control" placeholder="Enter email"/>
</div>
<button id="email-submit-button" form="email-collection-box" type="submit" class="btn btn-danger ">Subscribe</button>                        
<div id="error-block"></div>
<p id="disclaimer" class=""><strong>To Contact Us Now Call: <a style="border: none;" href="tel:+16617552620"> 661-775-2620</a> <br> We won't spam you or sell your email address.</strong></p>
</form>
</div>
<div id="thank-you-section">
<header class="text-center">
<!-- Setting: {{thank-you-headline}} -->
<h1 id="thank-you-headline" class="" >Thank you!</h1>
<!-- Setting: {{thank-you-text}} -->                   
<p id="thank-you-text">You'll hear from us when we launch.</p>
<p id="custom-html"><!--Setting: {{custom-html}} --></p>
</header>                    
</div>
</div>
<!-- Social Networks -->
<div id="social" class="text-center">
<a id="social-facebook" target="_blank" href="" style="background-color:#3C599F; display:none"><i class="fa fa-facebook"></i></a>                                
<a id="social-google-plus" target="_blank" href="" style="background-color:#CF3D2E; display:none"><i class="fa fa-google-plus"></i></a>                
<a id="social-instagram" target="_blank" href="" style="background-color: #A1755C; display:none"><i class="fa fa-instagram"></i></a>
<a id="social-linkedin" target="_blank" href="" style="background-color: #0085AE; display:none"><i class="fa fa-linkedin"></i></a>
<a id="social-pinterest" target="_blank" href="" style="background-color: #CC2127; display:none"><i class="fa fa-pinterest"></i></a>
<a id="social-soundcloud" target="_blank" href="" style="background-color: #f80; display:none"><i class="fa fa-soundcloud"></i></a>
<a id="social-twitter" target="_blank" href="" style="background-color: #32CCFE;display:none"><i class="fa fa-twitter"></i></a>
<a id="social-youtube" target="_blank" href="" style="background-color: #C52F30;display:none"><i class="fa fa-youtube"></i></a>                
</div>
<!-- Footer -->
<footer class="text-center">
<p id="footer" class="">(C)2019 Drop Off Paper Shredding </p> 
</footer>          
</div>
<!-- Javascript files -->
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<!-- Countdown Plugin-->
<script src="https://dropoffpapershredding.com/wp-content/plugins/easy-pie-csp-elite/mini-themes/base-responsive/js/jquery.countdown.min.js"></script>
<!-- Respond JS for IE8 -->
<script src="https://dropoffpapershredding.com/wp-content/plugins/easy-pie-csp-elite/mini-themes/base-responsive/js/respond.min.js?2.1.2"></script>
<!-- HTML5 Support for IE -->
<script src="https://dropoffpapershredding.com/wp-content/plugins/easy-pie-csp-elite/mini-themes/base-responsive/js/html5shiv.js?2.1.2"></script>
<script type="text/javascript">
$('#countdown').countdown(clockEndDate, function (event) {
var $this = $(this).html(event.strftime(''
+ '<div id="countdown-days" >%D <span>Days</span></div> '
+ '<div id="countdown-hours" >%H <span>Hrs</span></div>  '
+ '<div id="countdown-minutes" >%M <span>Min</span></div> '
+ '<div id="countdown-seconds" >%S <span>Sec</span></div> '));
});
</script>
</div>
</body>	
</html><!-- WP Fastest Cache file was created in 1.517306804657 seconds, on 01-10-20 23:32:48 -->