.easy-pie-csp-elite-on > a { 
    color:#fff;
    background-color: #f44;
}

#icon-easy-pie-coming-soon {
    background: transparent url( '../images/easy-pie-cs-logo32.png' ) no-repeat;
}

.color-selector {
    vertical-align: middle;
}

.bx-wrapper { margin: 0 0 20px 0!important }
#easy-pie-cs-bxslider-pager img { margin-top:-10px; margin-right:1px; border: 1px solid #AAA; height:71px; width:98%;}

.bx-prev { left: -45px!important;}
.bx-next { right: -45px!important;}



